{% extends "base.html" %} 
{% load static %}
{% block content %}

   <!--header section end -->
   <!-- about section start -->
   <div class="about_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-6">
               <div class="about_taital_main">
                  <div class="about_taital">About Us</div>
                  <p class="about_text">Our authentic momo recipes</p>
                  <p class="about_text">Passed down through generatios</p>
                  <div class="read_bt"><a href="#">Read More</a></div>
               </div>
            </div>
            <div class="col-md-6">
               <div class="about_img"><img src="{% static 'images/cook1.jpg' %}"></div>
            </div>
         </div>
      </div>
   </div>
{% endblock content %}
  
     

     