<!DOCTYPE html>
<html lang="en">
   {% load static %}
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <link rel="icon" href="{% static 'images/hotel.3.png' %}">
      <title> </title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js">
      <link rel="stylesheet" href="{% static 'css/style.css' %}">
      <link rel="stylesheet" href="{% static 'css/s.css' %}">

   </head>
   <body>
      <!--header section start -->
      
      <nav class="navbar navbar-expand-lg  new_navbar">
         <div class="container">
           <a class="navbar-brand" href="{% url 'index' %}"><b>M</b>omos</a>
           <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
             <span class="navbar-toggler-icon"></span>
           </button>
           <div class="collapse navbar-collapse" id="navbarSupportedContent">
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
               
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'about' %}">About Us</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'menu' %}">Our Menu</a>
               </li>
               <li class="nav-item">
                  <a class="nav-link" href="{% url 'services' %}">Our Services</a>
               </li>
               
               
             </ul>
             <div class="d-flex justify-content-center gap-3">
               {% if request.user.is_authenticated %}
                 
               <a href="{% url 'log_out' %}">log out</a>
               {% else %}
               <a href="{% url 'log_in' %}"></a>
               <button>Sign In</button>
               <a href="{% url 'register' %}"></a>
               <button>Sign Up</button>

               {% endif %}
             </div>
            
             <div class="icon_ho">
             
            <a href="https://www.facebook.com/profile.php?id=100025440132340" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-tiktok"></i></a>
            </div>
         
           <a href="{% url 'contact' %}"> <button class="custom-btn btn-1">Contact Us</button></a>

             <!-- <form class="d-flex" role="search">
               <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
               <button class="btn btn-outline-success" type="submit">Search</button>
             </form> -->
           </div>
         </div>
       </nav>
            
         
      <!--header section end -->

{% block content %}
  
{% endblock content %}      

       <!-- footer section start -->
       <div class="footer_section layout_padding">
        <div class="container">
           <div class="row">
              <div class="col-lg-3 col-sm-6">
                 <h3 class="useful_text">About</h3>
                 <p class="footer_text">consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation u</p>
              </div>
              <div class="col-lg-3 col-sm-6">
                 <h3 class="useful_text">Momos</h3>
                 <div class="footer_menu">
                    <ul>
                       <li><a href="#">Home</a></li>
                       <li><a href="#">About Us</a></li>
                       <li><a href="#">Our Menu</a></li>
                       <li><a href="#">Our Services</a></li>
                       <li><a href="#">Contact Us</a></li>
                    </ul>
                 </div>
              </div>
              <div class="col-lg-3 col-sm-6">
                 <h1 class="useful_text">Legals</h1>
                 <p class="dummy_text">Terms & conditions  Privacy Policy Support</p>
              </div>
              <div class="col-lg-3 col-sm-6">
                 <h1 class="useful_text">Contact Us</h1>
                 <div class="location_text">
                    <ul>
                       <li>
                          <a href="#">
                          <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10">Address : vyas-8,Tanahun</span>
                          </a>
                       </li>
                       <li>
                          <a href="tel:+9779702309773">
                          <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10">Call : +9779702309773</span>
                          </a>
                       </li>
                       <li>
                          <a href="mailto: visionthapa32@gmail.com">
                          <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10">Email : visionthapa32@gmail.com</span>
                          </a>
                       </li>
                    </ul>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- footer section end -->
     <!-- copyright section start -->
     <div class="copyright_section">
        <div class="container">
           <p class="copyright_text">{{date}} All Rights Reserved. Design by <a href="#">Vision</a></p>
        </div>
     </div>
     <!-- copyright section end -->
     <!-- Javascript files-->
     <script src="js/jquery.min.js'"></script>
     <script src="js/popper.min.js"></script>
     <script src="js/bootstrap.bundle.min.js"></script>
     <script src="js/jquery-3.0.0.min.js"></script>
     <script src="js/plugin.js"></script>
     <script src="js/s.js"></script>

     <!-- sidebar -->
     <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
     <script src="js/custom.js"></script>  
     <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
     <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

     <script src="https://kit.fontawesome.com/b52396679f.js" crossorigin="anonymous"></script>

  </body>
</html>     