{% extends "base.html" %} 
{% block content %}
{% load static %}

      <!-- banner section start -->
      <div class="banner_section layout_padding">
         <div class="container">
            <div id="main_slider" class="carousel slide" data-ride="carousel">
               <div class="carousel-inner">
                  <div class="carousel-item active">
                     <div class="row">
                        <div class="col-sm-12">
                           <div class="banner_taital">
                              <h1 class="outstanding_text">Restaurant</h1>
                              <h1 class="coffee_text">The One <br> Momo Restaurant</h1>
                              <p class="there_text">More than 20+ Varieties of momo available for you</p>
                              <div class="learnmore_bt"><a href="#">Learn More</a></div>
                           </div>
                        </div>
                     </div>
                  </div>
                  
               </div>
               <a class="carousel-control-prev" href="#main_slider" role="button" data-slide="prev">
               <i class="fa fa-angle-left"></i>
               </a>
               <a class="carousel-control-next" href="#main_slider" role="button" data-slide="next">
               <i class="fa fa-angle-right"></i>
               </a>
            </div>
         </div>
      </div>
      <!-- banner section end -->
      <!-- about section start -->
      <div class="about_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-md-6">
                  <div class="about_taital_main">
                     <div class="about_taital">Why Customer Love Us</div>
                     <p class="about_text">Full cleaning and housekeeping services for companies and households.</p>
                     <p class="about_text">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text.Lorem Ipsum is simply</p>
                     <div class="read_bt"><a href="#">Read More</a></div>
                  </div>
               </div>
               <div class="col-md-6">
                  <div class="about_img"><img src="{%static 'images/buff_fried.jpg' %}"></div>
               </div>
            </div>
         </div>
      </div>
      <div class="card text-center">

      <ul class="tab-titles">
         <li class="tab-links alert alert-danger" onclick="opentab('buf')"><label>Buff</label></li>
         <li class="tab-links alert alert-danger" onclick="opentab('chicken')"><label>Chicken</label></li>
         <li class="tab-links alert alert-danger" onclick="opentab('veg')"><label>Veg</label></li>
      </ul>
   </div>
      
      <div class="tab-content active-tab" id="buf">
         <div class="container text-center">
            <div class="row">
              <div class="col">
               <p><span>Buff Steam Momo</span><p>
               <img src="{%static 'images/steam_buff.jpg' %}">
               <p class="card-price">रु120</p>

              </div>
              <div class="col">
               <p><span>Buff Fried Momo</span><p>
               <img src="{%static 'images/buff_fried.jpg'%}">
               <p class="card-price">रु130</p>


              </div>
              <div class="col">
               <p><span>Buff C. momo</span><p>
               <img src="{%static 'images/c_momo.jpg' %}">
               <p class="card-price">रु200</p>


              </div>
            </div>
          </div>
      </div>

      <div class="tab-content" id="chicken">
         <div class="container text-center">
            <div class="row">
              <div class="col">

               <p><span>Chicken Steam Momo</span><p>
               <img src="{%static 'images/chicken_steam.jpg' %}">
               <p class="card-price">रु150</p>
              </div>

              <div class="col">
               <p><span>Chicken Fried Momo</span><p>
               <img src="{%static 'images/chicken_fried.jpg' %}">
               <p class="card-price">रु180</p>
               </div>

              <div class="col">
               <p><span>Chicken C. momo</span><p>
               <img src="{%static 'images/chicken_c.jpg' %}">
               <p class="card-price">रु200</p> 
              </div>
            </div>
          </div>
         </div>
      </div>

      <div class="tab-content" id="veg">
         <div class="container text-center">
            <div class="row">
              <div class="col">
               <p><span>Veg Steam Momo</span><p>
               <img src=" {%static 'images/steam_veg.jpg' %}">
               <p class="card-price">रु100</p>


              </div>
              <div class="col">
               <p><span>Veg Fried Momo</span><p>
               <img src="{%static 'images/veg_fried.jpg' %}">
               <p class="card-price">रु110</p>

              </div>
              <div class="col">
               <p><span>Veg C. momo</span><p>
               <img src="{%static 'images/veg_momo.jpg' %}">
               <p class="card-price">रु110</p>

              </div>
            </div>
          </div>
      </div>
      <!-- gallery section end -->
      <!-- services section start -->
      <div class="card text-center">
         <div class="card-header">
           <ul class="nav nav-tabs card-header-tabs">
             <li class="nav-item">
               <a class="nav-link active" aria-current="true" href="#">Active</a>
             </li>
             <li class="nav-item">
               <a class="nav-link" href="#">Link</a>
             </li>
             <li class="nav-item">
               <a class="nav-link disabled">Disabled</a>
             </li>
           </ul>
         </div>
         
   
      <div class="services_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="services_taital " style='color:Red'> Our Services</h1>
                  <p class="services_text">KNOWING OUR CUSTOMER NEEDS </p>
                  <p class="services_text">We're more then just momos</p>
                  <p class="services_text">We're a full-services dining experience</p>
               </div>
            </div>
            <div class="services_section_2">
               <div class="row">
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main active">
                        <div class="house_icon">
                           <img src="{%static 'images/icon1.png'%}" class="image_1">
                           <img src="{%static 'images/icon1.png' %}" class="image_2">
                        </div>
                        <h3 class="decorate_text">Quality Food</h3>
                        <p class="tation_text">Only the best food with top quality products and ingredients </p>
                        <div class="readmore_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
                        <div class="house_icon">
                           <img src="{% static 'images/icon2.png' %}" class="image_1">
                           <img src="{% static 'images/icon2.png' %}" class="image_2">
                        </div>
                        <h3 class="decorate_text">Private Party</h3>
                        <p class="tation_text">Get the best food for all your private parties and gathering </p>
                        <div class="readmore_bt"><a href="#">Explore Our Service</a></div>
                     </div>
                  </div>
                  <div class="col-lg-4 col-sm-12 col-md-4">
                     <div class="box_main">
                        <div class="house_icon">
                           <img src="{% static 'images/icon3.png' %}" class="image_1">
                           <img src="{% static 'images/icon3.png' %}" class="image_2">
                        </div>
                        <h3 class="decorate_text">Categring</h3>
                        <p class="tation_text">Get the best food for any occations and gatherings </p>
                        <div class="readmore_bt"><a href="#">Read More</a></div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- services section end -->
      <!-- testimonial section start -->
      <div class="client_section layout_padding">
         <div class="container">
            <div class="row">
               <div class="col-sm-12">
                  <h1 class="client_taital">Testimonial</h1>
                  <p class="client_text">Eeven slightly believable. If you are going to use a passage of Lorem Ipsum, you need to</p>
               </div>
            </div>
         </div>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">Monila <span class="quick_icon"><img src="{%static 'images/quick-icon.png' %}"></span></h4>
                            <p class="customer_text">many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All themany variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some embarrassing hidden in the middle of text. All the</p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">Monila <span class="quick_icon"><img src=" 'images/quick-icon.png' %}"></span></h4>
                            <p class="customer_text">many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All themany variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some embarrassing hidden in the middle of text. All the</p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="client_section_2">
                <div class="container">
                   <div class="row">
                      <div class="col-md-12">
                         <div class="testimonial_section_2">
                            <h4 class="client_name_text">Monila <span class="quick_icon"><img src=" 'images/quick-icon.png' %}"></span></h4>
                            <p class="customer_text">many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All themany variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some embarrassing hidden in the middle of text. All the</p>
                         </div>
                      </div>
                   </div>
                </div>
            </div>
          </div>
        </div>
      </div>
     </div>
      <!-- testimonial section end -->
      <!-- contact section start -->
      <div class="contact_section_2 layout_padding">
         <div class="container-fluid">
            <div class="row">
               <div class="col-md-6 padding_0">
                  <div class="form-container">
                  <form method="POST" action="{% url 'index' %}" >
                     {% csrf_token %}
                     <span class="heading">Get in touch</span>
                     
                     <div class="form-container">
                        <div class="form">
                           <span class="heading">Get in touch</span>
                           <input required="" placeholder="Name" type="text" class="input" name="name">
                           <input required="" placeholder="Email"  type="email" class="input" name="email">
                           <input required="" placeholder="Phone Number"  type="tel" class="input" name="phone">
                           <textarea required="" placeholder="Say Hello" rows="10" cols="30" id="message" name="message" class="textarea"></textarea>
                           <div class="button-container">
                           <input 
                           type="submit" value="send" class="send-button">
                           
                        </div>
                     </div>
                     </div>
                  </form>
               </div>
                  
               </div>
               <div class="col-md-6 padding_0">
                  <div class="map-responsive">
                     <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0s1a7phLN0iaD6-UE7m4qP-z21pH0eSc&q=Eiffel+Tower+Paris+France" width="600" height="508" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- contact section end -->
{% endblock content %}


     